.TransactionsItem {
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    /* font-weight: bold; */
    border-radius: 10px;
}

.TransactionsItem:hover {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
}

.TransactionsItem__Left-Con {
    margin-left: 10px;
}

.TransactionsItem__Right-Con {
    margin-right: 10px;
}