.Traveling__Top-Con,
.Traveling__Bottom-Con {
    height: 85px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Traveling__Bottom-Con {
    justify-content: center;
}

#Traveling__Select,
.Traveling__Input {
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: gray;
    outline: none;
    color: white;
    padding: 5px;
}

#Traveling__Select {
    height: 35px;
}

.Traveling__Btn {
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .Traveling__Top-Con {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #Traveling__Select,
    .Traveling__Input {
        width: 80%;
        height: 50px;
        padding: 10px;
        font-size: 17px;
    }
    .Traveling__Btn {
        width: 50%;
        height: 50px;
        font-size: 17px;
    }
}